# This notebook contains the experiments on Adult Census dataset with LionForests

In [1]:
import pandas as pd 
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.base import TransformerMixin
from sklearn.preprocessing import MinMaxScaler,StandardScaler, LabelEncoder
from sklearn import preprocessing
from LionForests import LionForests

Firstly, we load the dataset and we set the feature and class names

In [2]:
feature_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country','salary']
class_names=['<=50K','>50K'] #0: <=50K and 1: >50K
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', names=feature_names, delimiter=', ')
data_test = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test', names=feature_names, delimiter=', ', nrows=100)
data_test = data_test.drop(data_test.index[[0]])

Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

We are doing the following preprocessing influenced by a github notebook

In [3]:
data = data[(data != '?').all(axis=1)]
data_test = data_test[(data_test != '?').all(axis=1)]
data_test['salary'] = data_test['salary'].map({'<=50K.': '<=50K', '>50K.': '>50K'})
frames = [data, data_test]
data = pd.concat(frames)
data.head(15)

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37,Private,284582.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49,Private,160187.0,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52,Self-emp-not-inc,209642.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31,Private,45781.0,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42,Private,159449.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K
10,37,Private,280464.0,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,0.0,80.0,United-States,>50K
11,30,State-gov,141297.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,India,>50K
12,23,Private,122272.0,Bachelors,13.0,Never-married,Adm-clerical,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K
13,32,Private,205019.0,Assoc-acdm,12.0,Never-married,Sales,Not-in-family,Black,Male,0.0,0.0,50.0,United-States,<=50K
15,34,Private,245487.0,7th-8th,4.0,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0.0,0.0,45.0,Mexico,<=50K

Feature Engineering from:
https://github.com/pooja2512/Adult-Census-Income/blob/master/Adult%20Census%20Income.ipynb. So run and skip the next code block

In [4]:
hs_grad = ['HS-grad','11th','10th','9th','12th']
elementary = ['1st-4th','5th-6th','7th-8th']
# replace elements in list.
for i in hs_grad:
    data['education'].replace(i , 'HS-grad', regex=True , inplace=True)
for e in elementary:
    data['education'].replace(e , 'elementary-school', regex=True, inplace = True)

married= ['Married-spouse-absent','Married-civ-spouse','Married-AF-spouse']
separated = ['Separated','Divorced']
#replace elements in list.
for m in married:
    data['marital-status'].replace(m ,'Married', regex=True, inplace = True)
for s in separated:
    data['marital-status'].replace(s ,'Separated', regex=True, inplace = True)

self_employed = ['Self-emp-not-inc','Self-emp-inc']
govt_employees = ['Local-gov','State-gov','Federal-gov']
for se in self_employed:
    data['workclass'].replace(se , 'Self_employed', regex=True, inplace = True)
for ge in govt_employees:
    data['workclass'].replace(ge , 'Govt_employees', regex=True, inplace = True)

del_cols = ['relationship','education-num']
data.drop(labels = del_cols, axis = 1, inplace = True)

index_age = data[data['age'] == 90].index
data.drop(labels = index_age, axis = 0, inplace =True)
num_col_new = ['age','capital-gain', 'capital-loss',
       'hours-per-week','fnlwgt']
cat_col_new = ['workclass', 'education', 'marital-status', 'occupation',
               'race', 'sex','salary','native-country']#add native-country label
scaler = MinMaxScaler()
#pd.DataFrame(scaler.fit_transform(data[num_col_new]),columns = num_col_new)
class DataFrameSelector(TransformerMixin):
    def __init__(self,attribute_names):
        self.attribute_names = attribute_names
    def fit(self,X,y = None):
        return self
    def transform(self,X):
        return X[self.attribute_names]
class num_trans(TransformerMixin):
    def __init__(self):
        pass
    def fit(self,X,y=None):
        return self
    def transform(self,X):
        df = pd.DataFrame(X)
        df.columns = num_col_new 
        return df
pipeline = Pipeline([('selector',DataFrameSelector(num_col_new)),  
                     ('scaler',MinMaxScaler()),('transform',num_trans())])#('scaler',MinMaxScaler()),        
num_df = pipeline.fit_transform(data)
num_df.shape
# columns which I don't need after creating dummy variables dataframe
cols = ['workclass_Govt_employess','education_Some-college',
        'marital-status_Never-married','occupation_Other-service',
        'race_Black','sex_Male','salary_>50K']
class dummies(TransformerMixin):
    def __init__(self,cols):
        self.cols = cols
    
    def fit(self,X,y = None):
        return self
    
    def transform(self,X):
        df = pd.get_dummies(X)
        df_new = df[df.columns.difference(cols)] 
        return df_new
pipeline_cat=Pipeline([('selector',DataFrameSelector(cat_col_new)),
                      ('dummies',dummies(cols))])
cat_df = pipeline_cat.fit_transform(data)
cat_df['id'] = pd.Series(range(cat_df.shape[0]))
num_df['id'] = pd.Series(range(num_df.shape[0]))
final_df = pd.merge(cat_df,num_df,how = 'inner', on = 'id')
print(f"Number of observations in final dataset: {final_df.shape}")

Number of observations in final dataset: (181, 50)

We extract the train and target data from the dataframe

In [5]:
y = final_df['salary_<=50K'].values
final_df.drop(labels = ['id','salary_<=50K'],axis = 1,inplace = True)
X = final_df.values

And we need the new onehot encoded features' names

In [6]:
feature_names = list(final_df.columns.values)
categorical_features = ['workclass', 'education', 'marital-status', 'occupation', 'race', 'sex','native-country']

We declare the name of the categorical features in order LionForests to extract more compact explanations

In [7]:
my_scaler = MinMaxScaler(feature_range=(0,1))
parameters = [{
    'max_depth': [10],
    'max_features': ['sqrt'],
    'bootstrap': [False],
    'min_samples_leaf' : [1],
    'n_estimators': [100]
}]
lf = LionForests(class_names=class_names)
lf.train(X, y, my_scaler, feature_names, None, categorical_features) #Please do not ascale data before training

Fitting 10 folds for each of 1 candidates, totalling 10 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    3.7s finished

Once again, we use the build-in GridSearch of LionForests to find the best classifier for this dataset

In [8]:
number_of_estimators = lf.model.n_estimators
print("Accuracy:",lf.accuracy,", Number of estimators:",lf.number_of_estimators)
print(lf.model)

Accuracy: 0.8487787356321839 , Number of estimators: 250
RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=250,
                       n_jobs=-1, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

Now we are ready to extract explanations about an instance. We choose the eleventh instance:

In [9]:
rule = lf.following_breadcrumbs(X[11], False, True, False, complexity=4)
print(rule)

['if 0.508<=age<=0.563 & 0.242<=fnlwgt<=0.285 & 0.069<=hours-per-week<=0.1 & workclass_Private & education_HS-grad & 0.0<=capital-gain<=0.103 & native-country_United-States & race_White & 0.0<=capital-loss<=0.344 then >50K', 241, 35, 126, 35]

The original rule would have been this one:

In [10]:
lf.check_changes_in_prediction (X[11],rule)

---------FEATURES THAT GOT REDUCED FROM LF BELOW---------
education_Assoc-acdm
education_Assoc-voc
education_Bachelors
education_Doctorate
education_HS-grad
education_Masters
education_Prof-school
education_elementary-school
marital-status_Married
marital-status_Separated
marital-status_Widowed
native-country_Cuba
native-country_Dominican-Republic
native-country_England
native-country_Guatemala
native-country_Honduras
native-country_India
native-country_Jamaica
native-country_Mexico
native-country_Peru
native-country_Puerto-Rico
native-country_United-States
occupation_Adm-clerical
occupation_Armed-Forces
occupation_Craft-repair
occupation_Exec-managerial
occupation_Farming-fishing
occupation_Handlers-cleaners
occupation_Machine-op-inspct
occupation_Priv-house-serv
occupation_Prof-specialty
occupation_Protective-serv
occupation_Sales
occupation_Tech-support
occupation_Transport-moving
race_Amer-Indian-Eskimo
race_Asian-Pac-Islander
race_Other
race_White
sex_Female
workclass_Govt_employees
workclass_Private
workclass_Self_employed
---------NEW FEATURE VALUES BELOW [left,right,middle]---------
age ['0.060', '0.899', '0.516']
capital-gain ['0.003', '0.114', '0.011']
capital-loss ['0.060', '0.584', '0.240']
hours-per-week ['0.069', '0.420', '0.075']
fnlwgt ['0.012', '0.745', '0.255']
---------FEATURE VALUES THAT MAY CHANGE THE CLASSIFICATION BELOW---------

{43: [], 44: [], 45: [], 46: [], 47: []}

In this example, some categorical alternative values got reduced. Currently, LionForests do not extract them automatically, but it will be implemented soon. You can notice that fnlwgt, age, hours per week and capital gain and loss values were not inverse transformed from LionForests. This is happening because we preprocessed this data externally. Thus we have to inverse transform them manually. If you want check instance 882 too.